<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Applications" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Applications</h1>
  <%= link_to "New application", new_application_path, class: "btn btn--primary" %>
</div>

<div id="applications" class="flex flex-col" style="gap: 2rem;">
  <% @applications.each do |application| %>
    <div class="flex flex-col items-start gap">
      <%= render application %>
      <%= link_to "Show this application", application, class: "btn" %>
    </div>
  <% end %>
</div>
