<aside id="sidebar">
  <div class="p-2">
    <%= link_to "Applications", applications_path %>
  </div>
  <div class="p-2">
    <%= link_to "Generator Options", generator_options_path %>
  </div>
  <div class="p-2">
    <%= link_to "Templates", templates_path %>
  </div>
</aside>
